doctype html
html(lang="ru")
    head
        link(rel="stylesheet" href="./styles.scss")
    body
        div#page
        script(type="module").
          // После введения роутинга этот скрипт будет не нужен
          import {Error500Controller} from "./controllers/error/Error500Controller";
          const controller = new Error500Controller();
          controller.index();
