doctype html
html(lang="ru")
    head
        link(rel="stylesheet" href="./styles.scss")
    body
        div#page
        script(type="module").
            // После введения роутинга этот скрипт будет не нужен
            import {AuthController} from "./controllers/auth/AuthController";
            const controller = new AuthController();
            controller.index();
